<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= title %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><a href="#"><%= link_to "About", about_path %></a></li>
        <li><a href="#"><%= link_to "Contact Us", contact_path %></a></li>
      </ul>
    </nav>
  </div>
</div>