<div class="inner cover">
<h1 class="cover-heading">MYB2B Reservation</h1>
<p class="lead">Start your Hotel Reservation by Joining US today!</p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-default">Log In/Sign Up</a>
</p>
</div>