<!DOCTYPE html>
<html>
<head>
  <title><%= custom_title("sign_in") %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title"><%= title %> </h1> 

  <br>
  <div id="flash">
    <% flash.each do |key, value|%>
      <div class="flash_<%= key %>"><%=value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>